<div class ='View' id='addView'>
  <h1>Add Contact</h1>
  	<form id ='formdata'>
    <div> <span class='infoN'>FirstName :</span><input type="text" name ='FirstName'placeHolder='FirstName'></span></div>
    <div><span class='infoN'> LastName :</span><input type="text" name ='LastName' placeHolder='LastName'></span></div>
    <div> <span class='infoN'>Mobile :</span><input type="text" name='Mobile' maxlength= '10' placeHolder='9900990099'></span></div>
    <div> <span class='infoN'>Age :</span><input type="text" name ='Age' maxlength='3' placeHolder='25'></div>
	</form>
	<button  id ='savebutton' class='button'>Save</button>
     <button  id ='cancelbutton' class='button'>Cancel</button>
</div>