#mainView h1{
	display: inline-block;
	margin-left: 62px;
	color:white;

}
.filter{
	display: inline-block;
	margin-left: 70px;
	width: 180px;
	border-radius: 5px;
}
#list li{
	list-style: none;
	position: relative;
	display: block;
	width: 150px;
	left:30px;
	color:rgba(255, 255, 255, 0.58);
	background-color:rgb(136, 86, 118);
	margin-bottom: 10px;
	border-radius: 5px;
}
#list a{
	color:white;
	text-decoration: none;
}
#list .sort{
	margin-right: 10px;
}
.View{
	position: absolute;
	left: 30%;
	width: 350px;
	border-radius: 10%;
	height:auto;
	background-color: rgb(81, 2, 77);
}
#descView h1{
	display: inline-block;
	margin-left: 65px;
	color:white;
	margin-bottom: 20px;
}
#descView div{
	margin-left: 82px;
	margin-bottom: 10px;
	color:white;
	width:160px;
	background-color:rgb(136, 86, 118);
	border-radius: 2px;
}
.infoN{
	margin-left: 5px;
	margin-right: 5px;
}
.backbutton{
	position: relative;
	left:138px;
	border-radius: 5px;
	margin-bottom: 20px;

}
.button{
position: relative;
left: 120px;
margin-bottom: 20;
border-radius: 5px;

}
#addView{
	display: inline-block;
	margin-left: 65px;
	color:white;
	margin-bottom: 20px;
	left:25%;
}
#addView h1{
	display: inline-block;
	margin-left: 65px;
	color:white;
	margin-bottom: 20px;
}
#addView div{
	margin-left: 42px;
	margin-bottom: 10px;
	color:white;
	width:220px;
	background-color:rgb(136, 86, 118);
	border-radius: 2px;
}
#addView input{
	position: absolute;
	left:150px;
}
#delbutton{
	position: absolute;
	left:150px;
	border-radius: 50%;
}



